{% extends "index.html" %}
{% block content %}

<h2>
    Peluquerias:
</h2>
    {% for hairdressings in HairdressingList %}
        <div style="height: 160px;;">
            <div style="float:left;heigth: 150px;">
                <img src="/{{ hairdressings.image }} " style="width: 150px;padding-right:50px;">
            </div>
            <div style="margin-left:180px;font-size:16px;padding-top:60px;">
            <a href="{{ hairdressings.id }}">
                {{ hairdressings.name }}
            </a>
            </div>
        </div>
    {% empty %}No hay peluquerías asociadas.
    {% endfor %}
{% endblock	%}